/*Reseteo de los valores de HTML*/

* {
    margin: 0;
    padding: 0;
}

.background-color {
    background-color: #BDA69E;
}

/*Aplicando Flexbox*/

.logo-ceibo {
    height: 10%;
    width: 10%;
    text-align: left;
    display: inline-block;
    
}
header {
    /*GRADIENTES*/
    background-image: linear-gradient(to bottom, #BEA6A0, lavender);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: initial;
    justify-content: center;
    font-family: 'Uchen', serif;
    justify-content: center;
}

ul,
ol {
    float: left;
    list-style: none;
}

.menu>li {
    float: left;
}

.menu li a {
    /*GRADIENTES*/
    background-image: linear-gradient(to bottom, #BEA6A0,lavender);
    color: brown;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu li a:hover {
    /*TRANSICIÓN HOVER*/
    background-color: gray;
    height: 50px;
    transition: height 2s;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 85%;
}

.menu li:hover>ul {
    display: block;
}

.inicio {
    background-attachment: fixed;
    background-image: url(multimedia/Imagenes/box-regalo.jpeg);
    border: 10px solid rgb(228, 205, 205);
    color: brown;
    text-align: center;
    font-family: 'Castoro', serif;
    font-weight: 100;
    line-height: 5;
    margin: 5%;
    padding: 10%;
}

/* Aplicando Grid a una sección mi página */
.tienda {
    background-color: rgb(228, 205, 205);
    margin: 5%;
    padding: 10%;
}

h1 {
    color: beige;
    text-align: center;
    font-size: 300%;
    font-weight: 150%;
    font-family: 'Castoro', serif;
    margin: 5%;
}

.grid-1 {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
}

@media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media all and (min-width: 1024px) {
    .grid-1 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .grid-1_item:nth-child(11n+1) {
    grid-column: span 1;
  }

  .grid-1_item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .grid-1_item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .grid-1_item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .grid-1_item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .grid-1_item:nth-child(11n+9) {
    grid-row: span 3;
  }

  .grid-1_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*Fin de Grid*/

/*Aplicando Flexbox*/
.como-comprar {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    flex-grow: inherit;
    justify-content: center;
    background-color: peachpuff;
    color: chocolate;
    font-family: 'Castoro', serif;
    font-weight: 100;
    margin: 5%;
    padding: 5%;
}

.accordion-button {
    background-color: rgb(228, 205, 205);
    color: chocolate;
}
.accordion-body {
    background-color: peachpuff; 

}

.nosotras {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    flex-grow: inherit;
    justify-content: center;
    background-attachment: fixed;
    background-image: url(multimedia/Imagenes/nosotras-ceibo.png);
    border: 10px solid rgb(228, 205, 205);
    color: black;
    text-align: center;
    font-family: 'Castoro', serif;
    font-weight: 100;
    line-height: 5;
    margin: 5%;
    padding: 10%;
}

.nos {
    background-color: rgb(228, 205, 205);
}

.inspiraciones {
    background-color: peachpuff;
    color: chocolate;
    text-align: center;
    font-family: 'Castoro', serif;
    font-weight: 100;
    line-height: 5;
    margin: 5%;
    
}

.inferior-footer {
    display: flex;
    justify-content: center;
    background-color: lavender;
}

.logo {
    height: 8%;
    width: 4%;
}

/*Contacto.HTML*/
.titulo-formulario {
    color: chocolate;
    background-color: lavender;
    font-family: 'Castoro', serif;
    font-size: large;
    text-align: center;
    font-weight: 75%;
    margin: 5%;
    padding: 10%;
}

label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
}

.formulario {
    display: block;
    margin: 0 auto;
    width: 510px;
    background-color: lavender;
    color: #666666;
    font-family: 'Uchen', serif;
}

form {
    margin: 0 auto;
    width: 400px;
    font-family: 'Uchen', serif;
}

/*TRANSICIÓN FOCUS*/
input {
    width: 100px;
    height: 100px;
    transition: all 2s;
}

input:focus {
    width: 200px;
    font-size: 24px;
}

/*FIN DE TRANSICIÓN FOCUS*/

input,
textarea {
    width: 380px;
    height: 27px;
    background-color: lavender;
    border: 2px solid #f6f6f6;
    padding: 10px;
    margin-top: 5px;
    font-size: 8px;
    color: #ffffff;
}

textarea {
    height: 180px;
}

#submit {
    width: 85px;
    height: 35px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

/*Fin de contacto.html*/

/* Media Queries */

/* Desktop Styles */